@charset "UTF-8";

/*Обнуление стилей*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-family: inherit;
}

/* ----------------*/
body {
  background-color: rgb(83, 140, 226);
}

.container {
  width: 950px;
  margin: 0 auto;
}

.content {
  width: 450px;
  margin: 0 auto;
}

.content .input__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
}

.content .input__city .input__city-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .input__city .input__city-name #name__of-city {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  font-size: 18px;
  outline: none;
}

.content .input__city .input__city-name .reset-value {
  position: relative;
  border-radius: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
  background-color: white;
}

.content .input__city .input__city-name .reset-value::before,
.content .input__city .input__city-name .reset-value::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  display: block;
  width: 18px;
  height: 2px;
  background: rgb(182, 182, 182);
  -webkit-transform: translate(3px);
  transform: translate(3px);
}

.content .input__city .input__city-name .reset-value::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.content .input__city .input__city-name .reset-value::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.content .input__city .selected {
  margin-top: 6px;
}

.content .input__city .selected .city-name {
  font-weight: bold;
}

.content .weather {
  width: 100%;
  margin-top: 30px;
  padding: 30px 0;
  background-color: rgb(44, 44, 44);
  border-radius: 10px 10px 0 0;
  color: white;
}

.content .weather .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content .weather .todays-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 25px;
}

.content .weather .todays-weather .degrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content .weather .todays-weather .degrees .main-temperature {
  font-size: 54px;
  font-weight: bold;
}

.content .weather .todays-weather .degrees .feels-like {
  margin-top: 5px;
}

.content .weather .todays-weather .weather-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content .weather .todays-weather .weather-status .city-name {
  margin-top: 5px;
}

.content .weather .todays-weather img {
  width: 64px;
  height: 64px;
}

.content .week-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: rgb(104, 104, 104);
  border-radius: 0 0 10px 10px;
}

.content .week-weather .next-day-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 25px;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content .week-weather .next-day-weather .day-of-week {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.content .week-weather .next-day-weather .degrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
}

.content .week-weather .next-day-weather .degrees .feels-like {
  margin-top: 10px;
}